/* ===== LOGIN PAGE ===== */

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f6fa;
}

.login-box {
  background: white;
  padding: 35px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.login-title {
  text-align: center;
  margin-bottom: 25px;
  color: #d84e55;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

.login-input:focus {
  border-color: #d84e55;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: #d84e55;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s;
}

.login-btn:hover {
  background: #c43f46;
}